*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/assets/*
andpluglib/.cxx
andpluglib/src/androidTest/res/raw/*
andpluglib/src/main/cpp/adplug
andpluglib/src/main/cpp/libbinio
